*,
html {
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}

body {
  background-color: white
}

.container-navbar{
  background-color: grey;
  width: 100%;
  height: 150px;
}

.ul-navbar{
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.li-navbar{
  font-size: 60px;
  list-style-type: none;
  padding: 15px;
  margin: 5px;
  color: black;
}

.li-navbar:hover{
  background-color: tomato;
  transition: .5s ease-in-out;
  transition-delay: .3s;
  border-radius: 8px;
}

.a-navbar{
  color: white;
  text-decoration: none;
}

.div-footer{
  height: 250px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1{
  display: flex;
  color: white;
  font-size: 60px;
}

.container-content{
  background-color: mintcream;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content{
  width: 100%;
  height: 50%;
}